<div class="row">
    <header>
        <div class="col m5 s12 offset-m1">
            <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam amet
                architecto esse omnis
                quam quo tenetur? Aut distinctio ea incidunt libero nostrum obcaecati pariatur quos sed sint vel?
                Ad!</p>
        </div>
        <div class="col m5 s12 offset-m1">
            <%= link_to "Faîtes un don", projects_path, class: "waves-effect waves-light btn-large col m6 s12 act blue" %>
        </div>
    </header>

</div>

<div class="section amber">

    <div class="container act-first-section">
        <div class="row">
            <h3 class="white-text">I'm acting for a better world</h3>
            <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis, dignissimos dolore explicabo
                facere, nemo nobis numquam officia omnis praesentium quisquam quo, ullam! Aspernatur at fugiat harum libero
                maxime qui?
            </p>
        </div>
    </div>

</div>



<div class="row">
    <div class="col m4 s12 donation offset-m1">
        <ul class="flow-text done-list">
            <li><i class="medium material-icons green-text">done</i>Help people</li>
            <li><i class="medium material-icons green-text">done</i>Again help people</li>
            <li><i class="medium material-icons green-text">done</i>And again help people</li>
            <li><i class="medium material-icons green-text">done</i>And again help people</li>
            <li><i class="medium material-icons green-text">done</i>And again help people</li>
        </ul>
    </div>

    <div class="col m5 s12 center donation">
        <h4>Comment</h4>

        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum in laudantium
            maiores modi nam
            necessitatibus nihil officiis optio qui quia quibusdam rerum, sequi ullam voluptas. A modi velit
            voluptas.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum in laudantium
            maiores modi nam
            necessitatibus nihil officiis optio qui quia quibusdam rerum, sequi ullam voluptas. A modi velit
            voluptas.</p>

    </div>
</div>

<div class="row act-last-btn">
  <a class=" col m4 s12 offset-m4 button-act z-depth-1 flow-text">Act</a>
</div>

<script>
    $(document).ready(function () {
        $('select').material_select();
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
    });
</script>