<div class="container">
  <div class="row">
    <h1>Créer un nouveau projet</h1>

    <%= simple_form_for(@project, url: projects_path) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>